// breed filter
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .breed-filter {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .breed-filter {
    height: 30px;
    vertical-align: text-bottom;
    // width: 70%;  
  }

  .breed-filter {
    margin-left: -1px;
    width: 36%;
  }
}

// pager total pages
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .pg_totalpages {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .pg_totalpages {
    height: 30px;
    vertical-align: text-bottom;
    width: auto;  
  }

  .pg_totalpages {
    margin-left: -1px;
  }
}

// edit/remove buttons
// ==================================================/
.btn_remove,
.btn_edit {
  svg {
    @extend %display--inline-block;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
  }
}

// favorites filter
// ==================================================/
.favorites_filter {
  @extend %display--block;
  padding: 4px 4px 4px 0; /* trbl */
  background-color: #ccc;
  
  .custom-select {
    vertical-align: middle;
    border: 1px solid #2c2d32;
  }

  .btn {
    height: 30px;
    vertical-align: middle;
  }
}