// breed filter
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .breed-filter {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .breed-filter {
    height: 30px;
    vertical-align: text-bottom;
    // width: 70%;  
  }

  .breed-filter {
    margin-left: -1px;
    width: 36%;
  }
}

// pager total pages
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .pg_totalpages {
    width: 100%;
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .pg_totalpages {
    height: 30px;
    vertical-align: text-bottom;
    width: auto;  
  }

  .pg_totalpages {
    margin-left: -1px;
  }
}

// edit/remove buttons
// ==================================================/
.btn_remove,
.btn_edit {
  svg {
    @extend %display--inline-block;
    fill: #f6e39e;
    vertical-align: text-bottom;
    width: 18px;
    height: 18px;
  }

  &:hover {
    svg {
      fill: #fff;
    }
  }
}

// favorites filter
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .favorites_filter {
    .breed-selector {
      width: 100%;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .favorites_filter {
    .breed-selector {
      width: 30%;
    }
  }
}

.favorites_filter {
  @extend %display--block;
  @extend %padd--4;
  @extend %margin-top--4;
  @extend %lrbg2;
  
  .btn {
    height: 30px;
    vertical-align: middle;
  }
}

// list/edit notes
// ==================================================/
// mobile portrait (320x480) 
@include mq($from: mobile) {
  .favorites_list {
    .favorites_list_info,
    .favorites_notes,
    .favorites_edit {
      width: 100%;
    }
  }
}

// *mobile landscape (480x320)
@include mq($from: mobileLandscape) {
  .favorites_list {
    .favorites_list_info,
    .favorites_notes,
    .favorites_edit {
      width: 60%;
    }
  }
}

// end breakpoints

.favorites_list {
  .favorites_list_info {
    @extend %padd--4;
    @extend %clearfix;
    
    p {
      @extend %display--inline-block;
    }

    button {
      top: 0;
      float: right;
    }
  }

  .favorites_list_name {
    @extend %font_heading_color1;
  }

  .favorites_list_breed {
    cursor: pointer;
    text-decoration: underline;  

    &:hover {
      text-decoration: none;  
    }
  }

  .favorites_notes {
    @extend %padd--4;
    @extend %clearfix;
    @extend %lrbg2;
  }

  .favorites_edit {
    @extend %padd--4;
    @extend %clearfix;
    @extend %lrbg2;
    
    textarea {
      margin-bottom: 2px;
    }
  }
}