body {
  @extend %system_normal--300;

}

.container-fluid--h {
  background-color: #999;
}

.container-fluid--m {
  // background-color: #eee;
}

.container-fluid--f {
  background-color: #999;
}

.main-header {
  background-color: #000;
}

.main-items {
  background-color: #666;
}

.main-footer {
  background-color: #000;
}

main > .container {
  @extend %padd--4;
}

// navSide103
// vcLastViewed.vue
// ==================================================/
@mixin navSide103_theme() {
  .navSide103 {
    a {    
      color: #fff;

      &:hover {
        color: #d5d5d5;
      }
    }

    .navSide103_heading {
      background-color: #f0f0f0;
      color: #141416;
    }

    li {
      background-color: #2c2d32;
      border-bottom: 1px solid #5c5d60;    

      &:nth-of-type(odd) {
        background-color: #343437;
      }

      p {
        color: #d5d5d5;
      }
    }

    .navSide103_img-holder {
      border: 1px solid #000;
    }
  } 
}
@include navSide103_theme();

.navSide103 {
  .navSide103_heading {
    @extend %padd--4;
  }

  a {
    @extend %display--block;
    @extend %font--bold;
    margin-bottom: 2px;

    &:hover {
      text-decoration: none;  
    }
  }

  li {
    @extend %padd--4;
    @extend %clearfix;
    
    &:nth-of-type(odd) {
      
    }

    &:first-of-type {
     
    }

    &:last-of-type {
      border-bottom: none;
    }    
  }

  .navSide103_img-holder {
    @extend %display--block;
    @extend %padd--4;
    @extend %margin-bottom--4;
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 4px;
        
    > img {
      height: 100%;
    }
  }
} 

// itemBox102
// vcRandomDog.vue
// ==================================================/
@mixin itemBox102_theme() {
  .itemBox102 {
    background-color: #2a2a2d;
    color: #d5d5d5;

    .itemBox102_heading1 {
      background-color: #343437;
      color: #fff;
    }

    .itemBox102_heading2 {
      color: #fff;
    }

    .itemBox102_img-holder {
      border: 1px solid #5c5d60;
      > img {
        // border: 1px solid #000;
      }
    }
  }
}
@include itemBox102_theme();

.itemBox102 {
  @extend %padd--4;

  .itemBox102_heading1 {
    padding: 4px 0px 4px 0px; /* trbl */
    @extend %margin-bottom--4;
  }

  .itemBox102_heading2 {
    margin: 4px 0 4px 0; /* trbl */
  }

  .itemBox102_heading2 ~ p {
    line-height: 114%;
  }

  .itemBox102_img-holder {
    @extend %padd--4;
    > img {
      @extend %display--block;
      margin-top: 4px;
    }
  }
}