%bg--main {
  background-color: #f2f1ec;
}

%bg--main2 {
  background-color: #dac58c;
}

%lrbg {
  background-color: #f7f4c6;
}

%lrbg2 {
  background-color: #f6e39e;
}

%border_color1 {
  color: #8b4e1f;
}

%border_color2 {
  color: #f3764a;
}

%font_heading_color1 {
  color: #8d2a15;
}

%font_primary_color1 {
  color: #5c442a;
}

%button--bg1 {
  background-color: #a82420;
}

%button_font_color1 {
  color: #f6e39e; // same as header font
}

%header--bg {
  background-color: #8d2a15;
}

%header_font_color2 {
  color: #f2efbc;
}

%header_liner {
  color: #877453;
}

%header_liner_thin {
  color: #6f241e;
}

// 
// ==================================================/
.bg--main {
  @extend %bg--main;
}

.bg--main2 {
  @extend %bg--main2;
}

.lrbg {
  @extend %lrbg;
}

.lrbg2 {
  @extend %lrbg2;
}